/********************* Global definitions ********************************/
:root {
  /* Colors */
  --color-primary-1: hsl(271, 36%, 24%); /* #3E2753 */
  --color-primary-2: hsla(271, 36%, 24%, 0.0453); /* #3E2753 4.53% */
  --color-primary-3: hsla(271, 36%, 24%, 0.0509); /* #3E2753 5.09% */
  --color-primary-4: hsla(271, 36%, 24%, 0.2512); /* #3E2753 25.12% */
  --color-primary-5: hsl(276, 41%, 93%); /* #EEE5F4 */
  --color-primary-6: hsl(276, 55%, 52%); /* #9341C8 */
  --color-primary-7: hsl(293, 100%, 63%); /* #E844FF */
  --color-primary-8: hsl(264, 100%, 61%); /* #8739FF */
  --color-primary-9: hsl(276, 100%, 81%); /* #D99EFF */

  --color-neutral-1: hsl(270, 7%, 64%); /* #A39DA9 */
  --color-neutral-2: hsl(0, 0%, 100%); /* #FFFFFF */
  --color-neutral-3: hsl(271, 15%, 43%); /* #6E5D7E */
  --color-neutral-4: hsl(0, 0%, 98%); /* #FAFAFA */
  --color-neutral-5: hsl(270, 20%, 96%); /* #F5F3F7 */
  --color-neutral-6: hsl(206, 6%, 79%); /* #C5C9CC */

  /* Font sizes */
  --font-size-xs: 0.5rem; /* 8px */
  --font-size-s: 0.5625rem; /* 9px */
  --font-size-base: 0.6875rem; /* 11px */
  --font-size-m: 0.75rem; /* 12px */
  --font-size-l: 1rem; /* 16px */
  --font-size-xl: 2.5rem; /* 40px */

  /* Font weights */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Line heights */
  --line-height-normal: normal;
  --line-height-base: 0.6875rem; /* 11px */
  --line-height-l: 1.75rem; /* 28px */

  /* Letter spacing */
  --letter-spacing-s: -0.004375rem; /* -0.07px */

  /* Box shadows */
  --box-shadow-1: 0rem 0rem 0.8125rem 0rem var(--color-primary-4); /* 0px 0px 13px 0px */
  --box-shadow-2: 0rem 0.625rem 0.3125rem -0.3125rem var(--color-primary-2); /* 0px 10px 5px -5px */
  --box-shadow-3: 0rem 1.875rem 3.75rem -0.625rem var(--color-primary-4); /* 0px 30px 60px -10px */

  /* Border radius */
  --border-radius-none: 0rem;
  --border-radius-xxs: 0.25rem; /* 4px */
  --border-radius-xs: 0.375rem; /* 6px */
  --border-radius-s: 0.625rem; /* 10px */
  --border-radius-base: 1.059375rem; /* 16.95px */
  --border-radius-m: 1.25rem; /* 20px */
  --border-radius-l: 1.875rem; /* 30px */
  --border-radius-rounded: 100%;

  /* Border widths */
  --border-width-s: 0.0625rem; /* 1px */
  --border-width-m: 0.625rem; /* 10px */

  /* Spacing */
  --space-none: 0rem;
  --space-xxs-1: 0.125rem; /* 2px */
  --space-xxs-2: 0.295625rem; /* 4.73px */
  --space-xs-1: 0.3025rem; /* 4.84px */
  --space-xs-2: 0.375rem; /* 6px */
  --space-xs-3: 0.46875rem; /* 7.5px */
  --space-s-1: 0.5rem; /* 8px */
  --space-s-2: 0.615625rem; /* 9.85px */
  --space-s-3: 0.625rem; /* 10px */
  --space-base-1: 0.6875rem; /* 11px */
  --space-base-2: 0.75rem; /* 12px */
  --space-base-3: 0.81625rem; /* 13.06px */
  --space-m-1: 0.96875rem; /* 15.5px */
  --space-m-2: 1rem; /* 16px */
  --space-m-3: 1.03125rem; /* 16.5px */
  --space-l-1: 1.21375rem; /* 19.42px */
  --space-l-2: 1.5rem; /* 24px */
  --space-l-3: 1.875rem; /* 30px */
  --space-xl-1: 2rem; /* 32px */
  --space-xl-2: 4rem; /* 64px */
  --space-xl-3: 7.8125rem; /* 125px */
  --space-xl-4: 4.625rem; /* 125px */

  /* Breakpoints */
  --desktop-width: 80rem; /* 1280px */
}

@font-face {
  font-family: "Rubik";
  src: url("./fonts/Rubik-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("./fonts/Rubik-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("./fonts/Rubik-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/******************************************************************************/

/***************************** CSS resets *************************************/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
input,
button {
  line-height: 1.1;
}

/* Avoid text overflows */
h1,
h2,
p {
  overflow-wrap: break-word;
}

/* Remove built-in form typography styles */
input,
button {
  font: inherit;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
svg {
  max-width: 100%;
  display: block;
}
/******************************************************************************/

/**************************** Main stylings ***********************************/
body {
  font-family: "Rubik";
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-normal);
  padding: var(--space-xl-2) var(--space-xl-1);
  background-color: var(--color-neutral-4);
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: var(--space-xl-4);
}

.background-1,
.background-2 {
  position: absolute;
  z-index: -1;
  width: 31.875rem; /* 510px */
  height: 63.625rem; /* 1018px  */
  background-repeat: no-repeat;
  background-size: contain;
}

.background-1 {
  background-image: url("./icons/background-1.svg");
  background-position: -20rem -26.8125rem;
  bottom: 0;
  left: 0;
}

.background-2 {
  background-image: url("./icons/background-2.svg");
  background-position: 20.125rem 31.1rem;
  bottom: 0;
  right: 0;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0px, 0px, 0px, 0px);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: var(--space-l-2);
  max-width: 19.4375rem; /* 311px */
  align-items: center;
}

h1 {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-medium);
  color: var(--color-primary-1);
}

.intro p {
  text-align: center;
  font-size: var(--font-size-l);
  line-height: var(--line-height-l);
  color: var(--color-neutral-1);
}

.phone {
  max-width: 14.375rem; /* 230px */
  max-height: 30.3125rem; /* 485px */
  background-color: var(--color-neutral-5);
  border-radius: var(--border-radius-l);
  outline: var(--border-width-m) solid var(--color-neutral-2);
  border: var(--border-width-s) solid var(--color-primary-3);
  box-shadow: var(--box-shadow-3);
  position: relative;
}

.phone__header {
  border-radius: var(--border-radius-m) var(--border-radius-m)
    var(--border-radius-xs) var(--border-radius-xs);
  background: linear-gradient(
    27deg,
    var(--color-primary-8),
    var(--color-primary-7)
  );
  color: var(--color-neutral-2);
  padding: var(--space-l-3) var(--space-m-3) var(--space-base-2)
    var(--space-m-1);
  box-shadow: var(--box-shadow-1);
  display: grid;
  grid-template-areas:
    "left-icon dog-walker-avatar dog-walker-name three-dots"
    "left-icon dog-walker-avatar dog-walker-status three-dots";
  grid-template-columns: 0.25rem 1.5rem 1fr 0.125rem;
  grid-column-gap: var(--space-s-1);
  grid-row-gap: var(--space-xxs-1);
}

.phone__header button:first-child {
  grid-area: left-icon;
}

.phone__header em {
  grid-area: dog-walker-name;
  font-style: normal;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-base);
}

.phone__header span {
  grid-area: dog-walker-status;
  font-size: var(--font-size-xs);
  color: var(--color-primary-9);
}

.phone__header button:last-child {
  grid-area: three-dots;
}

.phone__notch--position {
  position: absolute;
  top: -0.625rem; /* -10px */
  left: 50%;
  transform: translateX(-50%);
}

button:hover {
  cursor: pointer;
}

.button__icon {
  background-color: transparent;
  border: none;
}

.avatar {
  border-radius: var(--border-radius-rounded);
  border: var(--border-width-s) solid var(--color-neutral-2);
  grid-area: dog-walker-avatar;
}

.phone__body {
  display: flex;
  flex-direction: column;
  gap: var(--space-m-2);
  padding: var(--space-base-1) var(--space-xs-3) var(--space-m-2);
}

.phone__message {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-base);
  display: flex;
  gap: var(--space-s-1);
  flex-direction: column;
}

.phone__message--owner {
  align-items: flex-end;
}

.phone__message--walker p {
  color: var(--color-primary-6);
  background-color: var(--color-primary-5);
  border-radius: var(--border-radius-s) var(--border-radius-s)
    var(--border-radius-s) var(--border-radius-xxs);
  max-width: 8rem; /* 128px */
  padding: var(--space-xs-2) var(--space-s-1);
}

.phone__message--owner p {
  color: var(--color-neutral-3);
  background-color: var(--color-neutral-2);
  box-shadow: var(--box-shadow-2);
  border-radius: var(--border-radius-s) var(--border-radius-s)
    var(--border-radius-xxs) var(--border-radius-s);
  max-width: 8rem; /* 128px */
  padding: var(--space-xs-2) var(--space-s-1);
}

.phone__message--images {
  display: flex;
  justify-content: right;
  gap: var(--space-s-1);
}

.phone__message--cost {
  max-width: 10rem; /* 160px */
  display: grid;
  color: var(--color-neutral-2);
  grid-template-columns: 0.75rem 5.25rem 1.5rem;
  grid-column-gap: var(--space-s-1);
  border-radius: var(--border-radius-s) var(--border-radius-s)
    var(--border-radius-s) var(--border-radius-xxs);
  background: linear-gradient(
    346deg,
    var(--color-primary-8),
    var(--color-primary-7)
  );
  padding: var(--space-s-3) var(--space-m-2) var(--space-s-3) var(--space-s-1);
  align-items: center;
}

.phone__message--cost em {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
  font-style: normal;
}

.phone__message--images img {
  border-radius: var(--border-radius-s);
  box-shadow: var(--box-shadow-2);
}

.phone__footer {
  margin: var(--space-none) var(--space-xs-3) var(--space-s-3);
  display: flex;
  background-color: var(--color-neutral-2);
  padding: var(--space-xs-1) var(--space-xxs-2) var(--space-xs-1)
    var(--space-none);
  border-radius: var(--border-radius-base);
  justify-content: space-between;
}

.phone__footer button {
  background: var(--color-primary-1);
  width: 1.516875rem; /* 24.27px */
  height: 1.51375rem; /* 24.22px */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius-rounded);
}

input {
  max-width: 80%;
  background: transparent;
  border: none;
  padding-left: var(--space-l-1);
}

input::placeholder {
  font-size: var(--font-size-s);
  color: var(--color-neutral-6);
  letter-spacing: var(--letter-spacing-s);
}

/******************************************************************************/
